body {
    background-color: #161411;
}

h1 {
    color: rgb(117, 172, 243);
    text-align: center;
    margin-bottom:0;
    padding-bottom:0;
}

h3 {
    color: rgb(117, 172, 243);
    text-align: center;
}

h2, h4 {
    color: rgb(117,172, 243);
}

h4 {
    font-size: 14pt;
}

.nav {
    position:fixed;
    text-align: center;
    background-color: black;
    padding: 10px;
    padding-bottom: 2px;
    width: 100%;
}

body, html{
    margin:0;
    padding:0;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    padding-top: 75px;
}

.about, .projects, .blog {
    border-bottom-style: double;
    border-bottom-color: slategrey;
    border-bottom-width: 5px;
    padding-left:30px;
    padding-right:30px;
}

.projectToggle {
    text-align: center;
}

p {
    color: whitesmoke;
}

.link {
    padding:6px;
    text-decoration: none;
}

.linkIMG {
    vertical-align: bottom;
}

img {
    max-width: 75%;
    height: auto;
    align-content: center;
}

